:root {
  /* ### Primary */
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* ### Neutral */
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Spartan", sans-serif;
  background: url("./images/bg-pattern-top-mobile.svg"),
    url("./images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

main {
  width: 88%;
  margin: 100px auto;
}

/* product */

.product {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 35px;
  margin-bottom: 50px;
}

/* intro */

.intro {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.intro h1 {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  line-height: 1em;
}

.intro p {
  color: var(--Dark-Grayish-Magenta);
  font-size: 0.88em;
  font-weight: 500;
  line-height: 1.5em;
}

/* rating */

.ratings {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}

.rating {
  background: var(--Light-Grayish-Magenta);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 15px;
  max-width: 500px;
}

.rating-img {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.rating > p {
  color: var(--Very-Dark-Magenta);
  font-size: 0.85em;
  font-weight: 700;
}

/* testimonial */

.testimonials {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  margin-bottom: 50px;
}

.testimonial {
  background: var(--Very-Dark-Magenta);
  border-radius: 10px;
  padding: 30px;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.testimonial-heading {
  display: flex;
  column-gap: 25px;
  align-items: center;
}

.testimonial-heading img {
  height: 45px;
  border-radius: 50%;
  justify-content: center;
}

.testimonial-person {
  display: flex;
  flex-direction: column;
}

.testimonial-person p:nth-of-type(1) {
  color: var(--Light-Grayish-Magenta);
  font-weight: 700;
  margin-bottom: -3px;
}

.testimonial-person p:nth-of-type(2) {
  color: var(--Soft-Pink);
}

.testimonial p {
  color: var(--Light-Grayish-Magenta);
  line-height: 1.8em;
}

/* attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
  body {
    background: url("./images/bg-pattern-top-desktop.svg"),
      url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  main {
    max-width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  main {
    max-width: 80%;
  }

  .product {
    flex-direction: row;
    column-gap: 50px;
  }

  .intro {
    text-align: left;
    row-gap: 10px;
  }

  .intro h1 {
    font-size: 2.5em;
    width: 70%;
  }

  .intro p {
    width: 85%;
  }

  .rating {
    flex-direction: row;
    width: 80%;
  }

  .rating-img {
    padding: 0 30px 0 15px;
  }

  .rating:nth-of-type(2) {
    align-self: center;
  }

  .rating:nth-of-type(3) {
    align-self: flex-end;
  }

  .testimonials {
    flex-direction: row;
    column-gap: 30px;
    height: 255px;
  }

  .testimonial:nth-of-type(1) {
    align-self: flex-start;
  }

  .testimonial:nth-of-type(2) {
    align-self: center;
  }

  .testimonial:nth-of-type(3) {
    align-self: flex-end;
  }
}
